.grid_items_skills {
    background-color: gainsboro;
    border-color: black;
    border-radius: 10px;
    height: 80px;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    display: flex;
    
    

}

.title_styles {
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    margin-top: 50px;

}